*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: rgb(90, 88, 88);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus{
    display: flex;
}

.logo-photo{
    width: 120px;
}

.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
}

.item:hover{
    color: blue;
}

/* banner section styles */
.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100vh;
    background-image: url('/images/background.png'),
    linear-gradient(45deg,rgb(8, 8, 8),rgb(60, 59, 59))
}

.title{
    font-size: 55px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}

/* About us section styles */
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}

.about-title{
    text-align: center;
    padding: 20px;
}

.about-title-2{
    margin-bottom: 10px;
}

.about-description{
    margin-bottom: 10px;
    
}

/* Services section styles */
.box{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 80px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.icon{
    width: 70px;
}

.box-btn{
    background-color: gray;
    margin-top: 10px;
}

.box-title{
    padding: 10px;
}

.box-description{
    padding: 5px;
}

.service-section{
    background-color: black;
}

.service-container{
    display:flex;
    justify-content: space-around;
    padding: 20px;
}

.service-title{
    color: white;
}